<div class="profile__details">
  <div class="profile__avatar">
    {{{ changeAvatar }}}
  </div>
  <div class="profile__name">
    {{ name }}
  </div>

  {{{ inputList }}}
  <div class="profile__buttons">
    {{{ buttonSave }}}
    {{{ buttonCancel }}}
  </div>
</div>
