<div class="input">
    {{#if showLabel}}
        <label class="input__label" for="{{name}}">{{label}}</label>
    {{/if}}

    <input id="{{name}}"
           class="input__{{selector}}"
           type="{{type}}"
           name="{{name}}"
           value="{{value}}"
           {{#if pattern}} pattern="{{pattern}}" {{/if}}
           {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}/>

    {{#if showDivider}}
        <hr class="input__divider">
    {{/if}}
</div>