<div class="input-component">
    {{#if label}}
        <label class="input-component__label" for="{{name}}">{{label}}</label>
    {{/if}}

    {{#if img}}
         <label class="input-component__label" for="{{name}}"><img class="avatar {{#if size}} avatar__size_{{size}}" {{/if}} src="{{img}}" alt="user-avatar"></label>
    {{/if}}

    {{{ inputField }}}

    {{#if showDivider}}
        <hr class="input-component__divider">
    {{/if}}

    {{#if error}}
      <div class="input-component__error">
        {{ error }}
      </div>
    {{/if}}
</div>
