<div class="input-component">
    {{#if showLabel}}
        <label class="input-component__label" for="{{name}}">{{label}}</label>
    {{/if}}

    <input {{#if name}}id="{{name}}"{{/if}}
           class="input input-component__{{selector}}"
        {{#if type}} type="{{type}}" {{/if}}
        {{#if name}} name="{{name}}" {{/if}}
        {{#if value}} value="{{value}}" {{/if}}
        {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
        {{#if readonly}} readonly {{/if}}
        {{#if autofocus}} autofocus {{/if}}
        {{#if required}} required {{/if}}
    />

    {{#if showDivider}}
        <hr class="input-component__divider">
    {{/if}}
</div>
