<div class="input-component">
    {{#if label}}
        <label class="input-component__label" for="{{name}}">{{label}}</label>
    {{/if}}

    <input class="input input-component__{{selector}}"
        {{#if type}} type="{{type}}" {{/if}}
        {{#if name}} name="{{name}}" id="{{name}}" {{/if}}
        {{#if value}} value="{{value}}" {{/if}}
        {{#if placeholder}} placeholder="{{placeholder}}" {{/if}}
        {{#if readonly}} readonly {{/if}}
        {{#if autofocus}} autofocus {{/if}}
    />

    {{#if showDivider}}
        <hr class="input-component__divider">
    {{/if}}

    {{#if error}}
      <div class="input-component__error">
        {{ error }}
      <div>
    {{/if}}
</div>
