<div class="chat">
  {{#if notActive}}
    <div class="chat__default-message">
      {{ emptyStateText }}
    </div>
  {{else}}
    <div class="chat__content">
      <div class="chat__header">
        <div class="chat__author-info">
          {{{ userAvatar }}}
          <div class="chat__author-name">
            {{ userName }}
          </div>
        </div>

        <div class="chat__settings">
          <img src="../../assets/icons/conversation-settings.svg" alt="settings">
        </div>
      </div>

      <div class="chat__container">
        {{{ messages }}}
      </div>

      <div class="chat__footer">
        <div class="chat__attach-file">
          {{{ buttonAttachFile }}}
        </div>
        <div class="chat__message-input">
          {{{ messageInput }}}
        </div>
        <div class="chat__send-button">
          {{{ buttonSend }}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
