<button class="button {{#if type}}button__{{ type }} {{/if}} {{#if selector}}button__{{ selector }} {{/if}}
" {{#if page}}page="{{ page }}"{{/if}}>
    {{ label }}

    {{#if iconName}}
        <span class="button__icon {{#if iconSize}} button__icon_{{iconSize}} {{/if}} ">
            <img src="../../assets/icons/{{iconName}}.svg" alt="{{iconName}}"/>
        </span>
    {{/if}}
</button>
