<button class="button {{#if view}}button__{{ view }} {{/if}} {{#if selector}}button__{{ selector }} {{/if}}
" {{#if type}} type="{{ type }} "{{/if}} {{#if page}} page="{{ page }}" {{/if}} {{#if disabled}} disabled {{/if}}>
    {{ label }}

    {{#if iconName}}
        <span class="button__icon {{#if iconSize}} button__icon_{{iconSize}} {{/if}} ">
            <img src="../../assets/icons/{{iconName}}.svg" alt="{{iconName}}"/>
        </span>
    {{/if}}
</button>
