<li class="chat-list-item" id={{id}}>
    {{#with (lastUtil conversation)}}
        <div class="chat-list-item__avatar">
            {{> Avatar avatar=avatar size='medium'}}
        </div>

        <div class="chat-list-item__message">
            <div class="chat-list-item__message-author">{{name}}</div>
            <div class="chat-list-item__message-text">{{message.text}}</div>
        </div>

        <div class="chat-list-item__message-info">
            <div class="chat-list-item__message-time">{{formatTime timestamp}}</div>
        </div>
    {{/with}}

    {{#if (countUnread conversation) includeZero=false}}
        <div class="chat-list-item__message-unread">{{countUnread conversation}}</div>
    {{/if}}
</li>