<li class="chat-list-item" {{#if id}}id={{id}}{{/if}}>
  <div class="chat-list-item__avatar">
    {{{ userAvatar }}}
  </div>

  <div class="chat-list-item__message">
    <div class="chat-list-item__message-author">{{name}}</div>
    <div class="chat-list-item__message-text">{{messageText}}</div>
  </div>

  <div class="chat-list-item__message-info">
    <div class="chat-list-item__message-time">{{timestamp}}</div>
  </div>

  <div class="chat-list-item__message-unread">{{unreadMessages}}</div>
</li>
