<div class="profile__details">
  <div class="profile__avatar">
    {{{ avatar }}}
  </div>
  <div class="profile__name">
    {{ name }}
  </div>
   {{{ inputList }}}
  <div class="profile__buttons">
      {{{ buttonProfileDetailsEdit }}}
      {{{ buttonProfilePasswordEdit }}}
      {{{ buttonQuit }}}
  </div>
</div>


