<form class="profile__container">
    <div class="profile__avatar">
        {{{ avatar }}}
    </div>
    <div class="profile__name">
        {{ name }}
    </div>

    {{{ component }}}

    <div class="profile__buttons">
        {{#if type}}
            {{#if (isEdit type)}}
                {{{ buttonSave }}}
                {{{ buttonCancel }}}
            {{else}}
                {{{ buttonBack }}}
            {{/if}}
        {{else}}
            {{{ buttonProfileDetailsEdit }}}
            {{{ buttonProfilePasswordEdit }}}
            {{{ buttonQuit }}}
        {{/if}}
    </div>
</form>
